---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import ServiceCard from '../components/ServiceCard.astro';
import { services } from '@/lib/mocketContent';
---
---

<Layout title='Services'>
   <section class="py-20 bg-[#f6f6f6] text-[#333333] text-center">
        <div class="max-w-3xl mx-auto px-4">
          <h1 class="text-4xl md:text-5xl font-bold mb-6">Nuestros Servicios</h1>
          <p class="text-xl opacity-90">
            Tecnología avanzada, instalación profesional y soporte de por vida.
          </p>
        </div>
      </section>

      <!-- Cards de servicios -->
      {services.map((service, index) => (
        <ServiceCard
          image={service.image}
          title={service.title}
          description={service.description}
          reverse={index % 2 === 1}
        />
      ))}
</Layout>