<section class="py-12 px-4 bg-white">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-2xl md:text-3xl font-bold text-center text-[#333333] mb-10">
      Bussiness Partners of
    </h2>
    <div class="flex  flex-row justify-center items-center gap-12 sm:gap-20">
      <!-- Partner 1 -->
      <div class="flex items-center justify-center lg:grayscale lg:hover:grayscale-0 transition-all duration-300 opacity-80 lg:hover:opacity-100">
        <img 
          src="/uniview.png" 
          alt="Partner 1 - Seguridad Certificada" 
          class="h-12 md:h-16 object-contain"
        />
      </div>
      <!-- Partner 2 -->
      <div class="flex items-center justify-center lg:grayscale lg:hover:grayscale-0 transition-all duration-300 opacity-80 lg:hover:opacity-100">
        <img 
          src="/hinkvision.png" 
          alt="Partner 2 - Tecnología Avanzada" 
          class="h-12 md:h-16 object-contain"
        />
      </div>
    </div>
  </div>
</section>