---
type Props = {
  service: {
    title: string;
    description: string;
    image: string; // Ruta de la imagen (ej. "/images/service1.jpg")
  };
};

const { service } = Astro.props;
---

<div
  class="h-full w-full flex flex-col overflow-hidden shadow-xl transition-transform duration-300 hover:scale-[1.02] hover:shadow-2xl bg-white"
>
  <div
    class="relative w-full flex-grow min-h-[150px] max-h-[75%] bg-cover bg-center bg-no-repeat group" 
    style={`background-image: url('${service.image}');`}
  >
    <div
      class="absolute inset-0 bg-black/40 group-hover:bg-black/20 transition-colors duration-300"
    ></div>

    <div class="absolute top-0 left-0 p-4 sm:p-6">
      <h3
        class="text-xl lg:text-3xl font-extrabold text-white leading-tight drop-shadow-lg "
      >
        {service.title}
      </h3>
    </div>
  </div>

  <div
    class="flex flex-col p-4 sm:p-6 justify-between bg-[#f6f6f6]"
  >
    <p
      class="text-gray-700 text-base leading-relaxed overflow-hidden line-clamp-3 mb-4"
    >
      {service.description}
    </p>

    <a
      href="/services"
      class="buttonServices w-[200px] mx-auto"
    >
      View More
    </a>
  </div>
</div>