---
interface Props {
  image: string;
  title: string;
  description: string;
  reverse?: boolean; // para alternar el layout en cada card
}

const { image, title, description, reverse = false } = Astro.props;
---

<div class="py-8 md:py-10 ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class={`flex flex-col md:flex-row gap-8 items-center ${reverse ? 'md:flex-row-reverse' : ''}`}>
      <!-- Imagen -->
      <div class=" overflow-hidden shadow-lg md:w-1/2">
        <img
          src={image}
          alt={title}
          class="w-full h-auto object-cover transition-transform duration-500 hover:scale-105"
          loading="lazy"
        />
      </div>

      <!-- Contenido -->
      <div class="space-y-6 md:w-1/2">
        <h2 class="text-3xl md:text-4xl font-bold text-[#333333]">{title}</h2>
        <p class="text-lg text-[#333333] opacity-90 leading-relaxed text-justify">{description}</p>
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-300 mt-8 md:mt-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"></div>
</div>